<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="h-full">
<head>
  <meta charset="UTF-8">
<!--  <link rel="stylesheet" th:href="@{/dist/styles.css}">-->
  <link rel="icon" type="image/png" href="/icons8-smile-48.png">
<!--  <link href="./output.css" rel="stylesheet">-->
<!--  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />-->
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Error</title>
</head>
<body class="h-full bg-gray-100">
<!--<main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">-->
<!--  <div class="text-center">-->
<!--    <p class="text-base font-semibold text-indigo-600" th:text="${errorCode}">Error Code</p>-->
<!--    <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl" th:text="${title}">Error Title</h1>-->
<!--    <p class="mt-6 text-base leading-7 text-gray-600" th:text="${message}">Error Message</p>-->
<!--    <div class="mt-10 flex items-center justify-center gap-x-6">-->
<!--      <a href="/" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Go back home</a>-->
<!--&lt;!&ndash;      <a href="/contact" class="text-sm font-semibold text-gray-900">Contact support <span aria-hidden="true">&rarr;</span></a>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</main>-->
<!--
  This example requires updating your template:

  ```
  <html class="h-full">
  <body class="h-full">
  ```
-->
<nav class="w-full flex items-center justify-between px-4 py-2 glassmorphism text-white shadow-md">
  <a href="/home"><h1 class="text-xl font-bold text-stone-950">Dayleet</h1></a>
  <div>
    <!-- Show "Log In" link if user is not authenticated -->
    <a th:if="${not #authorization.expr('isAuthenticated()')}" href="/login" class="py-2 px-4 bg-blue-500 hover:bg-blue-600 rounded-full transition duration-300 ease-in-out">
      Log In
    </a>
    <!-- Show "Log Out" link if user is authenticated -->
    <form th:if="${#authorization.expr('isAuthenticated()')}" th:action="@{/logout}" method="post" class="inline">
      <button type="submit" class="py-2 px-4 bg-red-500 hover:bg-red-600 rounded-full transition duration-300 ease-in-out">
        Log Out
      </button>
    </form>
  </div>
</nav>
<main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <p class="text-base font-semibold text-indigo-600">404</p>
    <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Page not found</h1>
    <p class="mt-6 text-base leading-7 text-gray-600">Sorry, we couldn’t find the page you’re looking for.</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="/" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Go back home</a>
      <a href="mailto:mhe233@uw.edu?subject=Support%20Needed" class="text-sm font-semibold text-gray-900">Contact support <span aria-hidden="true">&rarr;</span></a>
    </div>
  </div>
</main>
</body>
</html>
